<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newCatalog</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <main class="main">
        <div class="wrapper">
            <section id="grid">
                <div class="container">
                    <aside class="items_grid">
                        <h1 class="category__title">
                            {{Category}}
                        </h1>
                        {% for index in range(titles|length) %}
                        <ul class="category__position">
                            <h2 class="product_title">
                                {{ titles[index] }}
                            </h2>
                            <class class="cat_img">
                                <img
                                src="../static/img/cpu/{{ images[index] }}" 
                                alt="{{ titles[index] }}"
                                height="144"
                                >
                            </class>
                            {%for subitem in specs[index] %}
                            <li class="cat__pos">
                                {{subitem}} - {{specs[index][subitem]}}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </aside>
                </div>
            </section>
        </div>
    </main>
</body>

</html>