<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newCatalog</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <main class="main">
        <div class="wrapper">
            <section id="grid">
                <div class="container">
                    <aside class="items_grid">
                        <h1 class="category__title">
                            {{Category}}
                        </h1>
                        {% for index in range(titles|length) %}
                        <ul class="category__position">
                            <h2 class="product_title">
                                {{ titles[index] }}
                            </h2>
                            <class class="cat_img">
                                <img
                                src="../static/img/cpu/{{ images[index] }}" 
                                alt="{{ titles[index] }}"
                                height="144"
                                >
                            </class>
                            <li class="cat__pos">
                                Socket - {{specs[index]['socket']}}
                            </li>
                            <li class="cat__pos">
                                Number of Cores - {{ specs[index]['num_cores'] }}
                            </li>
                            <li class="cat__pos">
                                Number of Threads - {{specs[index]['num_thr']}}
                            </li>
                            <li class="cat__pos">
                                Clock - {{specs[index]['clock']}}
                            </li>
                            <li class="cat__pos">
                                Nanometres - {{specs[index]['nm']}}nm
                            </li>
                            <li class="cat__pos">
                                L3 Cache - {{specs[index]['cache']}}
                            </li>
                            <li class="cat__pos">
                                Memory Type - {{specs[index]['memory_type']}}
                            </li>
                            <li class="cat__pos">
                                Memory Clock - {{specs[index]['memory_clock']}}
                            </li>
                            <li class="cat__pos">
                                Memory Channels - {{specs[index]['memory_channels']}}
                            </li>
                            <li class="cat__pos">
                                TDP - {{specs[index]['tdp']}}
                            </li>
                            <li class="cat__pos">
                                Max Temperature - {{specs[index]['max_temp']}}
                            </li>
                            {% if specs[index]['videocore']==1 %}
                                <li class="cat__pos">
                                    Clock of videocore - {{specs[index]['clock_videocore']}}
                                </li>
                                <li class="cat__pos">
                                    Model of videocore - {{specs[index]['model_videocore']}}
                                </li>
                            {% endif %}
                            <button class="to__position" style="float:right">
                                click me
                            </button>
                        </ul>
                        {% endfor %}
                    </aside>
                </div>
            </section>
        </div>
    </main>
</body>

</html>