/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 5px 2vw; /* Отступ с обеих сторон */
}

.cards-container::before {
  grid-column: 1; /* Начало на первой колонке */
}

.cards-container::after {
  grid-column: -1; /* Завершение на последней колонке */
}