<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <main class="main">
        <div class="wrapper">
            <section id="homepage_grid">
                <div class="container">
                    <aside class="homepage_grid">
                        <h1 class="popular_position__title">
                            Popular positions
                        </h1>
                        <ul class="items_position">
                            <li class="item_pos">
                                <section id="item_grid">
                                    <div class="container">
                                        <aside class="item_grid">
                                            item
                                        </aside>
                                        <aside class="item_grid">
                                            item
                                        </aside>
                                        <aside class="item_grid">
                                            item
                                        </aside>
                                        <aside class="item_grid">
                                            item
                                        </aside>
                                        <aside class="item_grid">
                                            item
                                        </aside>
                                    </div>
                                </section>
                            </li>
                        </ul>
                    </aside>
                    <aside class="homepage_grid">
                        <h1 class="news__title">
                            News
                        </h1>
                    </aside>
                </div>

            </section>
        </div>
    </main>
</main>

</body>

</html>