<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newCatalog</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="" class="header__logo-link">
                        <img src="../static/img/svg/red_splash.svg" alt="newCatalog" class="header__logo-pic">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/CPU.svg" alt="CPU" class="header__CPU-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/gpu.svg" alt="gpu" class="header__gpu-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/ram.svg" alt="RAM" class="header__RAM-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/motherboard.svg" alt="Motherboard" class="header__Motherboard-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/Storage.svg" alt="Storage" class="header__Storage-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/power_unit.svg" alt="PowerUnit" class="header__PowerUnit-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/cpu_fan.svg" alt="CPUFan" class="header__CPUFan-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/shopping-cart.svg" alt="ShoppingCart"
                                    class="header__ShoppingCart-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="../static/img/svg/Profile.svg" alt="Profile" class="header__Profile-pic">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="wrapper">
            <section id="grid">
                <div class="container">
                    <aside class="grid">
                        <h1 class="popular_position__title">
                            Popular positions
                        </h1>
                    </aside>
                    <aside class="grid">
                        <h1 class="news__title">
                            News
                        </h1>
                    </aside>
                </div>

            </section>
        </div>
    </main>
</body>

</html>